<h1>New Party</h1>
<%= form_for @party do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :date %>
    <%= f.date_field :date %><br>
    <%= f.fields_for :supplies do |s| %>
      <%= s.label :name %>
      <%= s.text_field :name %><br>
      <%= s.label :quantity %>
      <%= s.number_field :quantity %><br>
    <% end %>
    <%= f.submit %>

<% end %>
